@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;
  --primary: 174.7 83.9% 31.6%;
  --primary-foreground: 166.2 76.5% 96.7%;
  --secondary: 214.3 31.8% 91.4%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 166.2 76.5% 96.7%;
  --accent-foreground: 174.7 83.9% 31.6%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 174.7 83.9% 31.6%;
  --chart-1: 174.7 83.9% 31.6%;
  --chart-2: 198.6 88.7% 48.4%;
  --chart-3: 238.7 83.5% 66.7%;
  --chart-4: 37.7 92.1% 50.2%;
  --chart-5: 160.1 84.1% 39.4%;
  --radius: 0.75rem;

  --font-sans:
    Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;
}
